<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title><%= base.title %> - <% post.title %></title>
    <link rel="stylesheet" href="/stylesheets/common.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- SimpleMDE (Markdown editor) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- showdownjs (Markdown parser) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.4/showdown.min.js"></script>
    <!-- highlightjs (code highlight) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>

    <style>
        .post_contents {
            font-family: 'Malgun Gothic';
        }

        code {
            font-family: Consolas;
        }
    </style>

    <script src="/javascripts/edit.js"></script>

    <style>
        .fixed_top_panel {
            height: 170px;
            /*position: fixed;*/
            position: sticky;
            top: 0;
            /*left: 0;*/
            /*right: 0;*/
            z-index: 100;
            background-color: white;
            box-sizing: border-box;
            border-bottom: 1px solid black;
            /*margin-bottom: 30px;*/
            flex-direction: row;
        }

        .flow_bottom_panel {
            /*margin-top: 200px;*/
            /*margin-top: 30px;*/
            /*z-index: 1;*/
        }

        .editor-toolbar.fullscreen {
            /*top: 200px;*/
            z-index: 200;
        }

        .CodeMirror-fullscreen {
            /*top: 250px;*/
            z-index: 200;
        }

        .editor-preview-side {
            /*top: 250px;*/
            z-index: 200;
        }
    </style>
</head>
<body>
    <input id="inp_id" type="hidden" value="<%= post.id %>" />
    <input id="inp_created" type="hidden" value="<%= post.created %>" />
    <div class="fixed_top_panel">
        <div style="float: left; width: calc(100% - 120px);" class="fl_clear">
            <div style="margin: 15px;">

                <table style="width: 100%;">
                    <colgroup>
                        <col width="100" />
                        <col width="" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>permalink</td>
                            <td>
                                <input type="text" value="" style="width: 100%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <span>Permalink:</span>
                    <input id="inp_permalink" type="text" style="width: 100%;" value="<%= post.permalink %>" />
                </div>
                <div>
                    <span>Title:</span>
                    <input id="inp_title" type="text" style="width: 100%;" value="<%= post.title %>" />
                </div>
                <div>
                    <span>Tags:</span>
                    <input id="inp_tags" type="text" style="width: 100%;" value="<%= post.tags %>" />
                </div>
            </div>
        </div>

        <div style="float: left; width: 120px;" class="fl_clear">
            <div style="margin: 15px;">
                <button id="btn_submit" style="width: 100%; height: 80px;">Submit</button>
            </div>
        </div>
    </div>

    <div class="flow_bottom_panel">
        <div>
            <textarea name="editor" id="editor"><%= post.contents %></textarea>
        </div>
    </div>
</body>
</html>
