<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= base.title %></title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <% if (admin) { %>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('.admin-index-post-delete').on('click', function(e) {
                e.preventDefault();
                var $this = $(this);
                if (confirm('Delete this post?')) {
                    $.ajax({
                        type: 'POST',
                        url: '/api/post/delete',
                        data: JSON.stringify({ id: $this.attr('data-post') }),
                        contentType: "application/json; charset=utf-8",
                        xhrFields: {
                            withCredentials: true
                        }
                    })
                    .done(function() {
                        location.href = '/'
                    })
                    .fail(function(xhr, status) {
                        alert(status);
                    });
                }
            });
        });
    </script>
    <% } %>
</head>
<body>
    <div class="site-wrap">
        <div class="top-sticky-box lay-box-center">
            <div class="top-box-wrap">
                <div class="box" style="width: 65px;">
                    <a href="/">
                        <div class="site-link-wrap">
                            <div class="site-link-mark">
                                <div class="site-link-mark-inner"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box" style="width: calc(100% - 130px);">
                    <div style="height: 100%; display: flex; align-items: center; padding: 10px; box-sizing: border-box;">
                        <span style="color: #606060; font-size: 20px; font-weight: bold; vertical-align: middle;">b.0x449</span>
                    </div>
                </div>
                <div class="box" style="width: 65px;">
                    <div class="site-item-wrap">
                        <div class="site-item-bar"></div>
                        <div class="site-item-bar"></div>
                        <div class="site-item-bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contents-flex-box lay-box-center">
            <div class="box left-side u-bk-dotted">
                <div class="lay_left">
                    <div style="height: 64px; width: 64px; margin: 16px auto 0 auto; background-image: url(/profile.png); background-size: cover; border-radius: 50%;"></div>
                    <div style="text-align: center; margin: 10px 0;">
                        <span>@0x44449</span>
                    </div>
                </div>
            </div>
            <div class="box contens-box">
                <div class="lay_contents">
                    <% posts.forEach(function(post) { %>
                    <div class="index-post-box">
                        <div class="index-post-wrap">
                            <div class="index-post-preview"></div>
                            <div class="index-post-info">
                                <a href="/post/<%= post.permalink %>">
                                    <div>
                                        <span class="index-post-title"><%= post.title %></span>
                                    </div>
                                    <div>
                                        <span class="index-post-date">created: <%= dateformat(post.created, 'yyyy.mm.dd') %></span>
                                    </div>
                                    <div>
                                        <span class="index-post-date">modified: <%= dateformat(post.modified, 'yyyy.mm.dd') %></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% if (admin) { %>
                    <div style="margin-top: 5px;">
                        <a class="admin-index-post-delete" data-post="<%= post.id %>">delete</a>
                        <a class="admin-index-post-edit" href="/edit/<%= post.id %>"><span>edit</span></a>
                    </div>
                    <% } %>
                    <% }); %>
                </div>
            </div>
            <div class="box right-side u-bk-dotted">
                <div class="lay_right"></div>
            </div>
        </div>

        <div class="footer-box lay-box-center">
            <div class="footer-box-wrap">
                <span class="footer-powered">powered by @0x44449</span>
            </div>
        </div>
    </div>
</body>
</html>
