<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= base.title %></title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <% if (admin) { %>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('.admin-index-post-delete').on('click', function(e) {
                e.preventDefault();
                var $this = $(this);
                if (confirm('Delete this post?')) {
                    $.ajax({
                        type: 'POST',
                        url: '/api/post/delete',
                        data: JSON.stringify({ id: $this.attr('data-post') }),
                        contentType: "application/json; charset=utf-8",
                        xhrFields: {
                            withCredentials: true
                        }
                    })
                    .done(function() {
                        location.href = '/'
                    })
                    .fail(function(xhr, status) {
                        alert(status);
                    });
                }
            });
        });
    </script>
    <% } %>
</head>
<body>
    <div class="site-wrap">
        <%- include('partial/top') %>

        <div class="contents-flex-box lay-box-center">
            <%- include('partial/left') %>
            <div class="box contens-box">
                <div class="lay_contents">
                    <% posts.forEach(function(post) { %>
                    <div class="index-post-box">
                        <div class="index-post-wrap">
                            <div class="index-post-preview"></div>
                            <div class="index-post-info">
                                <a href="/post/<%= post.permalink %>">
                                    <div>
                                        <span class="index-post-title"><%= post.title %></span>
                                    </div>
                                    <div>
                                        <span class="index-post-date">created: <%= dateformat(post.created, 'yyyy.mm.dd') %></span>
                                    </div>
                                    <div>
                                        <span class="index-post-date">modified: <%= dateformat(post.modified, 'yyyy.mm.dd') %></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% if (admin) { %>
                    <div style="margin-top: 5px;">
                        <a class="admin-index-post-delete" data-post="<%= post.id %>">delete</a>
                        <a class="admin-index-post-edit" href="/edit/<%= post.id %>"><span>edit</span></a>
                    </div>
                    <% } %>
                    <% }); %>
                </div>
            </div>
            <%- include('partial/right') %>
        </div>

        <%- include('partial/footer') %>
    </div>
</body>
</html>
