<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= base.title %> - write</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- SimpleMDE (Markdown editor) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- showdownjs (Markdown parser) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.4/showdown.min.js"></script>
    <!-- highlightjs (code highlight) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>

    <script src="/javascripts/admin-write.js"></script>
</head>
<body>
    <%- include('partial/top') %>

    <div class="contents-flex-box lay-box-center">
        <%- include('partial/left') %>
        <div class="box contens-box">
            <div class="lay_contents">
                <div class="write-info-box">
                    <div class="write-info-input-wrap">
                        <div class="write-info-input-row">
                            <div class="write-info-label">
                                <span>title</span>
                            </div>
                            <div class="write-info-input">
                                <input id="title" class="write-info-input-title" type="text" value="" autofocus />
                            </div>
                        </div>
                        <div class="write-info-input-row">
                            <div class="write-info-label">
                                <span>permalink</span>
                            </div>
                            <div class="write-info-input">
                                <input id="permalink" class="write-info-input-permalink" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="write-info-submit-wrap">
                        <a id="btn-submit" class="write-info-submit" href="." tabindex="-1">submit</a>
                    </div>
                </div>

                <div class="write-editor-box">
                    <div>
                        <textarea name="editor" id="editor"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partial/right') %>
    </div>

    <%- include('partial/footer') %>
</body>
</html>
